* {
  box-sizing: border-box;
}

.App
{
  display: flex;
  flex-direction: column;
}

.layout{
  margin-left: 2vw;
  margin-right: 2vw;
  border:1px solid black;
  min-height: 50vh;
  margin-top: 2vh;
  display: flex;
  flex-direction: row;

}

.managers{
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  width:15%;
}


.manager
{
  width:100%;
  background-color: #D3D3D3;
  text-align: center;
  margin-bottom: 2%;
  height:5vh
}

.labels
{
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-top: 10vh;
  margin-left: 20px;
}

 .label
 {
  width:100%;
  background-color: #000;
  color:#fff;
  text-align: center;
  margin-bottom: 2%;
  height:5vh
} 

.dropdown{

  left:15vw;
  top: 4vh;
  display: flex;

}
.topicDropdown{
  margin-left: 1vw;
}

.light-red
{
  background-color: lightcoral;
}

.red{
  background-color: red;
}

.green{
  background-color: green;
}

.yellow{
  background-color: yellow;
  color: #000;
}

.yellow-green{
  background-color: yellowgreen;
}